.main,
.home,
.register,
.login {
  margin: 0 auto;
  max-width: 1440px;

  @media (max-width: 1440px) {
    max-width: 1200px;
  }

  @media (max-width: 1200px) {
    max-width: 1024px;
  }
}

.home,
.register,
.login {
  width: 100%;
}

.link {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 112.5%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: cadetblue;
    transition: .3s;
  }

  &.active:before {
    width: 90%;
  }

  &:hover {
    &:before {
      width: 90%;
    }
  }
}

.circle {
  position: absolute;
  height: 3rem;
  width: 3rem;
  top: 0;
  left: 1.5rem;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: cadetblue;
  z-index: -1;

  @media (max-width: 767px) {
    display: none;
  }

  &-different {
    left: 50%;
  }
}

.fab {
  font-size: 10em;
}

.line {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 2px;
  background-color: cadetblue;

  &:after,
  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    height: 1rem;
    width: 1rem;
    background-color: rgba(95, 158, 160, 0.8);
    border-radius: 50%;
  }

  &:before {
    left: 0;
  }

  &-diff {
    left: 3rem;

    &:after {
      left: 0;
    }

    &:before {
      left: 100%;
    }
  }
}