.main,
.home {
  margin: 0 auto;
  max-width: 1440px;
}

.home {
  width: 100%;
}

.link {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 112.5%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: cadetblue;
    transition: .3s;
  }

  &.active:before {
    width: 90%;
  }

  &:hover {
    &:before {
      width: 90%;
    }
  }
}

.circle {
  position: absolute;
  height: 3rem;
  width: 3rem;
  top: 0;
  left: 1.5rem;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: cadetblue;
  z-index: -1;

  &-different {
    left: 50%;
  }
}

.fab {
  font-size: 10em;
}